<div class="container mt-4">
  <h2>Registrar Matrícula</h2>
  <form [formGroup]="matriculaForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="alumnoID" class="form-label">ID del Alumno</label>
      <div class="mb-3">
            <select class="form-select" formControlName="gradoID" id="usuarioID">
            <option value="">-- Seleccionar alumno --</option>
            <option *ngFor="let student of alumnosDisponibles" [value]="student.alumnoID">
              {{ student.nombre }}
            </option>
          </select>          
        </div>
    </div>

    <div class="mb-3">
       <label for="gradoID" class="form-label">Grado ID</label>
        <div class="mb-3">
            <select class="form-select" formControlName="gradoID" id="usuarioID">
            <option value="">-- Seleccionar grado --</option>
            <option *ngFor="let grados of gradosDisponibles" [value]="grados.gradoID">
              {{ grados.nombre }}
            </option>
          </select>          
        </div>
    </div>

    <div class="mb-3">
      <label for="anioLectivo" class="form-label">Año Lectivo</label>
      <input type="number" class="form-control" formControlName="anioLectivo" />
    </div>

    <div class="mb-3">
      <label for="fechaMatricula" class="form-label">Fecha de Matrícula</label>
      <input type="date" class="form-control" formControlName="fechaMatricula" />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="matriculaForm.invalid">Guardar</button>
    <button class="btn btn-secondary ms-2" type="button" (click)="router.navigate(['/matriculas'])">Cancelar</button>
  </form>
</div>
