<div class="container mt-4">
  <h2 class="mb-4">Listado de Calificaciones</h2>

  <table class="table table-bordered table-hover table-striped">
    <thead class="table-primary text-center">
      <tr>
        <th>ID</th>
        <th>Matrícula</th>
        <th>Asignación</th>
        <th>Nota</th>
        <th>Fecha</th>
        <th>Observación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let grade of calificaciones">
        <td>{{ grade.calificacionID }}</td>
        <td>{{ grade.matriculaID }}</td>
        <td>{{ grade.asignacionID }}</td>
        <td>{{ grade.nota }}</td>
        <td>{{ grade.fechaRegistro | date: 'short' }}</td>
        <td>{{ grade.observacion }}</td>
        <td>
          <a [routerLink]="['/calificaciones/detalle', grade.calificacionID]" class="btn btn-outline-info btn-sm">
  Ver Detalle
</a>
          <button *ngIf="esAdmin" class="btn btn-warning btn-sm me-2" (click)="editar(grade.calificacionID)">Editar</button>
          <button *ngIf="esAdmin" class="btn btn-danger btn-sm" (click)="eliminar(grade.calificacionID)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="calificaciones.length === 0" class="text-center text-muted">
    No hay alumnos registrados.
  </div>
 
</div>