<div class="container mt-4 asignaciones-lista">
 <div class="mb-4 d-flex justify-content-end gap-2 flex-wrap">
  <button class="btn btn-success" (click)="crearAsignaciones()">
    <i class="bi bi-plus-circle me-1"></i> Crear Asignaciones
  </button>
   <button type="button" class="btn btn-secondary" (click)="router.navigate(['/dashboard'])">
    <i class="bi bi-arrow-left me-1"></i> Atrás
  </button>
 </div>
      <h4 class="mb-0">Asignaciones</h4>   
    <div class="card-body p-0">
      <table class="table table-hover table-striped table-bordered mb-0">
        <thead class="table-light">
          <tr>
            <th>Docente</th>
            <th>Materia</th>
            <th>Grado</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asignacion of asignaciones">
            <td>{{ asignacion.nombreDocente }}</td>
            <td>{{ asignacion.nombreMateria }}</td>
            <td>{{ asignacion.nombreGrado }}</td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-danger"
                (click)="eliminarAsignacion(asignacion.asignacionID)">
                <i class="bi bi-trash"></i> Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

