<div class="container mt-4">
  <div class="mb-3 text-end">
      <button class="btn btn-success" [routerLink]="['/materias/crear']">Crear Materia</button>
  <button type="button" class="btn btn-secondary ms-2" (click)="router.navigate(['/dashboard'])">Atras</button>
  </div>
   <h2>Listado de Materias</h2>
  <table class="table table-bordered table-hover table-striped">
    <thead class="table-primary text-center">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let materia of materias">
        <td>{{ materia.materiaID }}</td>
        <td>{{ materia.nombre }}</td>
        <td>
          <button class="btn btn-primary btn-sm me-2" [routerLink]="['/materias/detalle', materia.materiaID]">Ver</button>
          <button class="btn btn-warning btn-sm me-2" [routerLink]="['/materias', materia.materiaID, 'editar']">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="eliminar(materia.materiaID)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
